@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #eff1f4;
}

h2{
  font-size: 60px;
}
.portfolioDesign {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.logoHome {
  width: 15em;
}

.col1Portfolio {
  font-family: "Bebas Neue", cursive;
  margin-bottom: 2em;
  margin-top: 6em;
}
