@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.imageProject{
    width: 50em;
    margin: 2em 2em;
}

.tittleProject{
    font-family: 'Gloria Hallelujah', cursive;
    
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 55px;
}

.projectsDesign p{
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Roboto', sans-serif;

    width: 70%;
    font-size: 20px;

}

.pathsStyles {
    color: black;
    width: 70%;
    text-decoration: none;
}
.pathsStyles:hover {
    
    transition: 0.2s;
    color: white;
}
.projectsDesign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

@media screen and (max-width: 850px) {
    .imageProject {
      width: 80%;
    }
  }